services:
  suricata:
    image: jasonish/suricata:latest
    container_name: suricata
    networks:
      - idps-network
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE
    volumes:
      - ./logs:/var/log/suricata
    command: suricata -i eth0
    restart: unless-stopped
    environment:
      - TZ=Europe/Brussels

  api:
    build:
      context: ../api
    container_name: api
    ports:
      - "8080:8080"
    networks:
      - idps-network
    volumes:
      - ./logs:/var/log/suricata
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - suricata
    restart: unless-stopped
    stdin_open: true
    tty: true

networks:
  idps-network:
    driver: bridge
